@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');


html, body {
    overflow: hidden;
}

html, body, #root, .App, .container-fluid {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 1 auto;
}

body {
    font-family: 'Hanalei Fill', cursive;
    background: #111111;
    overflow-x: hidden;
}

h1 {
    text-shadow: 5px 5px 5px #000;
    font-family: 'Hanalei Fill', cursive;
    font-weight: 100;
    font-size: 8vw;
    color: #FF6F00;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-shadow: 5px 5px 5px #000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Hanalei Fill', cursive;
    font-weight: 100;
    font-size: 4vw;
    color: #FFA000;
}


