@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html, body, #root, .App, .container-fluid {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 1 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #111111;
    overflow-x: hidden;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 4em;
    color: #FF6F00;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
    color: #FFA000;
}


